auto_mix_prep==0.2.0
benchmarks==0.1.0
ctf4science==0.11
cupy==13.4.1
einops==0.8.1
matplotlib==3.10.1
numpy==2.2.5
omegaconf==2.3.0
opt_einsum==3.4.0
pandas==2.2.3
pykeops==2.3
PyYAML==6.0.2
PyYAML==6.0.2
rich==14.0.0
scipy==1.15.2
timm==0.4.12
torch==2.6.0+cu118
tqdm==4.67.1
wandb==0.19.11
